@model dynamic
@{
    ViewBag.Title = "EmployeeProgress";
}

<h1>Incomplete Courses</h1>
<table class="table">
    <tr>
        <th>
            Course
        </th>
        <th>
            Lessons Remaining
        </th>
        <th>
            Percent Complete
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Incomplete)
    {
        <tr>
            <td>
                @item.CourseName
            </td>
            <td>
                @item.LessonsRemaining
            </td>
            <td>
                @item.PercentComplete
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserID })*@
            </td>
        </tr>
    }

</table>

<h1>Completed Courses</h1>
<table class="table">
    <tr>
        <th>
            Course
        </th>
        <th>
            Description
        </th>
        <th>
            Years Valid
        </th>
        <th>
            Date Completed
        </th>
        <th>
            Expiration Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Complete)
    {
        <tr>
            <td>
                @item.CourseName
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.ValidFor
            </td>
            <td>
                @item.DateCompleted.ToString("MM/dd/yyyy")
            </td>
            <td>
                @item.ExpirationDate.ToString("MM/dd/yyyy")
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.UserID })*@
            </td>
        </tr>
    }

</table>

