@model IEnumerable<FinalProject.DATA.Employee>
@{
    ViewBag.Title = "Employees";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            Manager
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.ManagerID == ViewBag.UserID || User.IsInRole("Admin"))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @if (item.ManagerID != null)
                    {
                        @item.Employee1.FirstName@: @item.Employee1.LastName
                    }

                </td>
                <td>
                    @Html.ActionLink("View Progress", "Details", new { id = item.UserID }) |
                    @Html.ActionLink("Edit Information", "Edit", new { id = item.UserID }) |                    
                    @Html.ActionLink("Remove Employee", "Delete", new { id = item.UserID })
                </td>
            </tr>
        }
    }
</table>
