@model IEnumerable<FinalProject.UI.Models.ManagerVM>

@{
    ViewBag.Title = "My Staff";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncCourses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpCourses)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncCourses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpCourses)
        </td>
        <td>
            @Html.ActionLink("View Progress Report", "Details", new { id=item.UserID }) 
        </td>
    </tr>
}

</table>
