@model IEnumerable<FinalProject.DATA.Lesson>

@{
    ViewBag.Title = ViewBag.CourseName;
}

<p>@ViewBag.CourseDescription</p>
<p>This course is valid for @ViewBag.ValidFor year@(ViewBag.ValidFor > 1 ? "s" : "") before it will need to be renewed.</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Introduction)
            </th>
            <th>
                Video?
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (User.IsInRole("Admin") || item.IsActive)
            {
                <tr>
                    <td class="names">
                        @Html.DisplayFor(modelItem => item.LessonTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Introduction)
                    </td>
                    <td>
                        @if (item.VideoURL != null)
                    {
                            @:Yes
                    }
                        else
                        {
                            @:No
                    }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseName)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                    {

                            @Html.ActionLink("Edit", "Edit", "Lessons", new { id = item.LessonID }, null) @:|
                    }

                        @Html.ActionLink("View Lesson", "Details", "Lessons", new { id = item.LessonID }, null)
                        @if (User.IsInRole("Admin"))
                    {
                            @:|
                            @Html.ActionLink("Delete", "Delete", "Lessons", new { id = item.LessonID }, null)
                        }
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

@section scripts{
    <script>
    $(document).ready( function () {
        $('.table').DataTable({
            paging: false,
            searching: false,
            info: false,
            "initComplete": function (settings, json) {
                $(".table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
            },
        });
    } );
    </script>
}