@model IEnumerable<FinalProject.DATA.Lesson>

@{
    ViewBag.Title = ViewBag.CourseName;
}

<p>@ViewBag.CourseDescription</p>
<p>This course is valid for @ViewBag.ValidFor years before it will need to be renewed.</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LessonTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PdfFileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LessonTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Introduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PdfFileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Lessons", new { id=item.LessonID }, null ) |
            @Html.ActionLink("Details", "Details", "Lessons", new { id=item.LessonID }, null) |
            @Html.ActionLink("Delete", "Delete", "Lessons", new { id=item.LessonID }, null)
        </td>
    </tr>
}

</table>
