@model IEnumerable<FinalProject.DATA.Lesson>

@{
    ViewBag.Title = "All Lessons";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Introduction)
            </th>
            <th>
                Video?
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdfFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="names">
                    @Html.DisplayFor(modelItem => item.LessonTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Introduction)
                </td>
                <td>
                    @if (item.VideoURL != null)
                    {
                        @:Yes
            }
                </td>
                <td>
                    <a href="@Url.Content("~/Content/Files/" + @item.PdfFileName)" target="_blank">Click to View Document</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LessonID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LessonID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LessonID })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
    $(document).ready( function () {
        $('.table').DataTable({
            paging: false,
            searching: false,
            info: false,
            "initComplete": function (settings, json) {
                $(".table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
            },
        });
    } );
    </script>
}